<!-- <p>
  home works!
</p> -->
 <div class="bg-img">
  <img src="../../assets/background.jpg" width="100%"> 
  <div class="center">
      <form class="form-class">
        <div class="form-gorup mr-bt">
          <input type="email" class="form-control f-c" placeholder="User-id">
        </div>
        <div class="form-group">
          <input type="password" class="form-control f-c" placeholder="password">
        </div>
    
        <div>
          <button class="btn btn-primary login">Login</button>
          <p [routerLink]="['/r']">New User?</p>
          <p>Forgot Passowrd?</p>
        </div>
    
      </form>
    </div>
</div>
